html
  head
    script(src="node_modules/reveal.js/dist/reveal.js")
    //-script(src="node_modules/reveal.js/plugin/markdown/markdown.js")
    link(rel="stylesheet", href="node_modules/reveal.js/dist/reveal.css")
    link(rel="stylesheet", href="node_modules/reveal.js/dist/theme/black.css")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400;1,900&display=swap", rel="stylesheet")
    style
      include:stylus index.styl
  body
    .reveal
      .slides
        include slides.pug
    script
      :coffee-script
        Reveal.initialize
          center: false
          slideNumber: true
          hash: true
          #plugins: [RevealMarkdown]
