:root
  --main-font: Merriweather, serif
  --heading-font: Merriweather, serif
.reveal
  font-family: var(--main-font)
.reveal
  h1, h2, h3, h4, h5, h6
    font-family: var(--heading-font)
    text-transform: none
    font-variant: small-caps

.reveal .slides section .fragment
  opacity: 0
  visibility: hidden
  transition: all 1s ease
  will-change: initial
  &.visible
    opacity: 1
    visibility: inherit

.reveal-viewport
    background: black

cite
  color: #c0a5c0
table.side-by-side
  table-layout: fixed
  td
    width: 50%

.invert
  filter: invert(1) hue-rotate(180deg)
.url
  display: block
  font-size: 30%
  font-family: monospace

// Rainbow palette from https://loading.io/color/feature/Rainbow/
.t1
  fill: #e6261f
.t2
  fill: #eb7532
.t3
  fill: #f7d038
.t4
  fill: #a3e048
.t5
  fill: #49da9a
.t6
  fill: #34bbe6
.t7
  fill: #4355db
.t8
  //fill: #d23be7
  fill: #9f3be7
.t9
  fill: #e634d0

circle
  stroke: black
  stroke-width: 3px
  fill: white
rect
  stroke: white
  stroke-width: 3px
  fill: #aaa
line
  stroke: white
  stroke-width: 10px
  stroke-linecap: square
circle
  filter: drop-shadow(0px 0px 3px #000)
rect
  filter: drop-shadow(0px 0px 4px #bbb)
line
  filter: drop-shadow(0px 0px 4px #bbb)
