section
  :markdown-it
    # Slide 1
section
  :markdown-it
    # Slide 2
//- Alternate approach using RevealMarkdown plugin:
  section(data-markdown="")
    textarea(data-template="").
      # Slide 1
      ---
      # Slide 2
